* {
    box-sizing: border-box;
}

body{
    font-family:Arial ;
    padding:20px ;
    background-color:#f1f1f1;
}

/* Header/Blog Title */
.header{
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
}

/* crete two unequal columns that floats next 
each other*/

/* left column */

.leftcolumn{
    float: left;
    width: 75%;
}

/* right column */
.rightcolumn{
    float: right;
    width: 25%;
}

/* Fake-image*/

.fakeimg{
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for Articles */

.card{
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    margin-left: 16px;
    
}

.row::after{
    content: "";
    display:table;
    clear: both;
}

/* Footer */
.footer{
    padding: 2px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;

}


    